:root.dark {
  --color-bg: #1d1d1f;
  --color-panel: #2a2a2c;
  --color-border: #3a3a3c;

  --color-text: #eee;
  --color-text-secondary: #bbb;

  --color-primary: #3ea6ff;
  --color-primary-hover: #1c8dd5;

  --shadow-1: 0 1px 4px rgba(0,0,0,0.45);
}
